.header {
  padding-block: 20px;

  display: flex;
}

.logoLink {
  font-weight: 700;
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
}

.svg path {
  fill: var(--text-color);
}
