@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-black-800: hsl(193, 100%, 7%);
  --clr-black-700: hsl(193, 96%, 11%);
  --clr-black-600: hsl(193, 100%, 13%);
  --clr-black-500: hsla(193, 96%, 11%, 0.2);
  --clr-black-400: hsl(193, 98%, 21%);
  --clr-blue-100: hsl(194, 53%, 73%);
  --clr-white-400: hsl(210, 40%, 98%);
  --clr-white-500: hsl(240, 5%, 96%);
  --clr-white-600: hsla(240, 5%, 96%, 0.5);
  --clr-green-700: hsl(165, 87%, 28%);
  --clr-green-600: hsl(155, 100%, 43%);
  --clr-green-500: hsl(155, 76%, 60%);
  --clr-green-400: hsl(155, 76%, 72%);
  --clr-green-200: #dad7cd;

  --body-fs: 1rem;
  --title-fs: clamp(1.875rem, 0.8015rem + 4.5802vw, 3rem);
  --input-fs: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--body-fs);
}


h1,
h2,
h3 {
  text-wrap: balance;
  /* letter-spacing: -0.016rem; */
}

/* Titles */
h1 {
  font-size: var(--title-fs);
}

/* Body text */
p {
  text-wrap: pretty;
}

button {
  font: inherit;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

a,
li {
  list-style: none;
  text-decoration: inherit;
  color: inherit;
}

.svg path {
  fill: var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.my-toast {
  background-color: var(--clr-green-400);
  color: var(--clr-black-600);
  font-weight: 700;
  border: transparent;
  text-align: center;
  right: 0;
  gap: 0;
}

.app-container {
  --space: 3rem;

  width: min(calc(100% - var(--space)), 45.625rem);
  margin-inline: auto;
}

@media (min-width: 48rem) {
  .my-toast {
    max-width: fit-content;
  }

  .app-container {
    --space: 4rem;
  }
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}