:root {
  --clr-black-800: hsl(193, 100%, 7%);
  --clr-black-700: hsl(193, 96%, 11%);
  --clr-black-600: hsl(193, 100%, 13%);
  --clr-blue-100: hsl(194, 53%, 73%);
  --clr-white-500: hsl(240, 5%, 96%);
  --clr-green-700: hsl(165, 87%, 28%);
  --clr-green-600: hsl(155, 100%, 43%);
  --clr-green-500: hsl(155, 76%, 60%);
  --clr-green-400: hsl(155, 76%, 72%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

button {
  font: inherit;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
