.main h1 {
  color: var(--primary-color);
}

.main p {
  text-align: center;
  margin-block-start: 10px;
}

.wrapper {
  padding-block-start: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
}

.svg path {
  fill: var(--text-color);
}
